{
  "env":  {
    "node": true,
    "mocha": true
  },
  "extends": "standard",
  "rules": {
    "no-prototype-builtins": 0,
    "handle-callback-err": "off",
    "node/handle-callback-err": "off",
    "no-var": "off",
    "array-callback-return": "off",
    "multiline-ternary": "off"
  }
}
