version: '3'
services:
  elasticsearch7:
    container_name: elasticsearchc7
    deploy:
      resources:
        limits:
          memory: 3g
    environment:
      - node.name=es
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - 'ES_JAVA_OPTS=-Xms512m -Xmx1024m'
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - /usr/share/elasticsearch/data
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.21
    ports:
      - '9200:9200'

volumes:
  data01:
    driver: local
